.content {
	position: relative;
	margin: 10px auto 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(0deg, #000, #272727);*/
}

.content:before, .content:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}
@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.content:after {
	filter: blur(50px);
}
label,h3{
    color:rgb(34, 6, 70);
    font-weight: bold;
}
div{
    background:linear-gradient(to right,rgb(196, 53, 165),rgb(28, 150, 172),rgb(110, 201, 110));
    /*background-image:url("C:\Users\ADMIN\Desktop\FSD\SwiggyProject\src\assets\240_F_426654554_hAWFFrIlhsmZCowhBxImtINy1HLO90Uh.jpg");*/
}
button{
    align-content: center;
}
input{
	border-radius: 9%;
	width:75%;
	margin-left: 20%;
}
.form-group{
    border-style:outset;
    border-color: rgb(52, 240, 240);
}