
/*.container{
    background-color:rgb(19, 15, 15);
    padding: 5px;
    margin-top: 10%;
    color: white;
    width: 40%;
    border-style: outset;
    border-color: rgb(16, 217, 231);
    word-spacing:2px;
}*/
h3{
    color:rgb(19, 208, 233);
    text-decoration:dashed;
}
hr{
    border-style: double;
    border-color: brown;
}
label{
    color:rgb(206, 103, 103);
    font-weight: bold;

}
.container {
    --g: 8px;     /* the gap */
    --b: 5px;    /* border thickness*/
    --c: yellow; /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
    background-color:rgb(19, 15, 15);
    padding: 5px;
    margin-top: 10%;
    color: white;
    width: 40%;
    border-style: outset;
    border-color: rgb(16, 217, 231);
    word-spacing:2px;
  }
  .container:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }
  