.navigation{
    font-size:15px;
    
}
ul{
    margin-top: 1%;
    font-weight: bold;
    color: black;
    padding: 6px;
}

.text-center{
    background: linear-gradient(to left,rgb(73, 38, 9),rgb(105, 47, 146),blue,green,yellow,orange,red);
    color:transparent;
    -webkit-background-clip: text;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    text-shadow: 3px 3px rgb(106, 245, 245);
}
nav{
    background: linear-gradient(to right,rgb(236, 156, 134),rgb(221, 105, 221));
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropbtn{
    border:hidden;
    height:40px;
    margin-top: 10%;
    color: blue;
  }
  .dropdown-content a:hover {
    background-color: #748cf5;
    color: #f9f9f9;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #748cf5; 
    color: white;
  }