<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--<div class="card-md" align="center">
  <div class="container">
    <img src=".\assets\1d8530f7-6fdb-4686-aad1-6c62b076d66e.jpg" alt="Ramya" class="image">
    <div class="middle">
      <div class="text">Ramya
        </div>
    </div>
    </div>
    <h1>Ramya</h1>
    <p class="title">CEO & Founder</p>
    <p>Hotel Management</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><button>Contact</button></p>
  </div>-->
  
  <div class="container">
    
    <div class="cover-photo">
      <img src="..\assets\1d8530f7-6fdb-4686-aad1-6c62b076d66e.jpg"class="profile">
    </div>
    <div class="profile-name">Ramya</div>
    <p class="about">Java full stack developer and<br>front-end developer</p>
    <button class="msg-btn" style="background-color: aliceblue;"><a href="contact">Message</a></button>
    <div>
    <a href="https://github.com/Ramyageja/FullStackProject.git"><i class="fa fa-github"></i></a>
    <a href="https://instagram.com/ramya_geja?igshid=ZDdkNTZiNTM="><i class="fa fa-instagram"></i></a>
    <a href=" https://www.linkedin.com/in/ramya-k-653a62221"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100041397390684"><i class="fa fa-facebook"></i></a>
    </div>
  </div>