<!--welcome page for my website-->
<div class="homepage">

    <table>
        <tr>

            <td class="waviy">
                <span style="--i:1">W</span>
                <span style="--i:2">E</span>
                <span style="--i:3">L</span>
                <span style="--i:4">C</span>
                <span style="--i:5">O</span>
                <span style="--i:6">M</span>
                <span style="--i:7">E</span>
                <span style="--i:8">.</span>
                <span style="--i:9">.</span>
                <span style="--i:10">.</span>
                <span> </span><br/>
                <span style="--i:11">SWIGGY</span>
                <span> </span>
                <span style="--i:12">RESTAURANT</span>
                <span> </span>
                <span style="--i:14">MANAGEMENT</span>

            </td>
            <td>
                <img src="..\assets\istockphoto-1225743833-612x612.jpg" alt="welcome" style="width:400px">
               
                <button type="submit" align="center" (click)=" goToLogin()">NEXT</button>
            </td>
        </tr>
    </table>


</div>