
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <div class="visit">
        <!--logout from the website-->
<p align="center">
    <img src="..\assets\104451654-vector-cartoon-business-people-holding-thank-you-sign.webp"><br/><br/>
    <span>Please revisit again..<i class="em em-smile"></i></span>     
</p>
<button type="submit" class="btn btn-danger" (click)="successMessage()" style="width:17%;">Exit</button>
<button type="submit" class="btn btn-warning" (click)="rateUs()">Rate us</button>
</div>